
test.png
GoogleTrans/.ipynb_checkpoints
TextRank/.ipynb_checkpoints
TextRank/textrank
dataset/
.cache/kobert_news_wiki_ko_cased-1087f8699e.spiece
.ipynb_checkpoints/
.cache/kobert_from_pretrained/pytorch_model.bin
.cache/kobert_v1.zip
img/
testimg/
model/all.tar
model/KoBERT_test.pt
model/model_state_dict.pt
